@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\000031}}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\000035}}
body {
  border-radius: 12px;
  background: linear-gradient(153deg, #36603e 35.82%, #1e262c 107.75%);
  -webkit-box-shadow: 0px -9.631px 86.681px 0px rgba(0, 0, 0, 0.1), 0px 23.115px 240.782px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -9.631px 86.681px 0px rgba(0, 0, 0, 0.1), 0px 23.115px 240.782px 0px rgba(0, 0, 0, 0.05);
  font-family: "Inter", sans-serif;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000315}}
.navbar {
  padding-top: 45px;
  padding-bottom: 58px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000319}}
.navbar a {
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000322}}
.nav-link {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000326}}
.nav-link:hover {
  color: #fff;
  border-bottom: 1px solid #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000330}}
.nav-link.active {
  font-weight: 600; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000334}}
.logo {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000337}}
.logo-name {
  font-size: 11.446px;
  font-weight: 700;
  line-height: 128.023%;
  /* 14.653px */
  text-decoration: line-through;
  margin-right: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000345}}
.btn-sign-in {
  border-radius: 7px;
  border: 0.864px solid #d66567;
  background: #bc4749;
  color: #fff;
  padding: 8px 13px;
  width: 114px;
  height: 39px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000355}}
.btn-select:hover {
  background: #bc4749;
  color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25); }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000362}}
h1 {
  font-size: 41.455px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000368}}
  h1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -3rem;
    left: -50%;
    width: 30rem;
    height: 11rem;
    background-image: url("/img/Vector384.svg");
    background-size: contain;
    background-repeat: no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000382}}
.rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000389}}
.rate-col {
  background: #6a994e;
  -webkit-box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  border-radius: 11.354px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 37px 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000399}}
  .rate-col__price {
    font-size: 37.848px;
    font-weight: 800;
    line-height: 128.023%;
    padding: 15px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003105}}
    .rate-col__price sup {
      font-size: 11.354px;
      font-weight: 500;
      top: -25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003111}}
    .rate-col__price sub {
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003118}}
  .rate-col__desc {
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003126}}
  .rate-col__property {
    font-size: 15.139px;
    font-weight: 600;
    line-height: 128.023%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003131}}
    .rate-col__property-name {
      font-size: 13.247px;
      font-weight: 500;
      line-height: 128.023%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003138}}
  .rate-col:nth-child(even) {
    background: #1d252b; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003141}}
    .rate-col:nth-child(even) a.btn-select {
      border: 0.864px solid #d66567;
      background: #bc4749; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003144}}
      .rate-col:nth-child(even) a.btn-select:hover {
        background: #6a994e;
        border: #6a994e;
        color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003152}}
  .rate-col__name {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003159}}
  .rate-col-1, .rate-col-3 {
    position: relative;
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003164}}
  .rate-col-1 {
    left: 40px;
    margin-left: -60px;
    z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003169}}
  .rate-col-2 {
    z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003172}}
  .rate-col-3 {
    left: -40px;
    margin-right: -60px;
    z-index: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003178}}
.rate-col__property-elem li {
  font-size: 13px;
  line-height: 128.023%;
  text-align: left;
  list-style-image: url(/img/list-marker.svg);
  margin: 15px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003185}}
.old-elem {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003190}}
.new-elem {
  font-weight: 500; }

/* Стили списка */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003195}}
.price {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: left; }

/* Добавляем тень при наведении курсора */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003205}}
.rate-col:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); }

/* Кнопка "Заказать" */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003210}}
.btn-select {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 7px;
  border: 0.864px solid #d0d0d0;
  background: #6a994e;
  -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003225}}
.icon-radius {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  display: inline-block;
  padding: 7px 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003231}}
  .icon-radius .fa-chevron-right {
    color: #bc4749; }

/* Изменяем ширину колонок на 100%
(чтобы укладывались друг над другом на маленьких экранах) */
@media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003239}}
  .rates {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003243}}
  .rate-col {
    margin: 20px 0;
    padding: 37px 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003248}}
  .rate-col-1,
  .rate-col-3 {
    left: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: none;
            transform: none; } }

/*# sourceMappingURL=style.css.map */