@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\000031}}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\000035}}
body {
  border-radius: 12px;
  background: linear-gradient(153deg, #36603e 35.82%, #1e262c 107.75%);
  -webkit-box-shadow: 0px -9.631px 86.681px 0px rgba(0, 0, 0, 0.1), 0px 23.115px 240.782px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -9.631px 86.681px 0px rgba(0, 0, 0, 0.1), 0px 23.115px 240.782px 0px rgba(0, 0, 0, 0.05);
  font-family: "Inter", sans-serif;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000315}}
.wrapper {
  width: 100%;
  max-width: 1306px;
  margin: 0 auto;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000322}}
.navbar {
  padding-top: 45px;
  padding-bottom: 58px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000326}}
.navbar a {
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000329}}
.nav-link {
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000336}}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  border-bottom: 1px solid #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000341}}
.nav-link.active {
  font-weight: 600; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000345}}
.navbar-nav {
  gap: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000348}}
.navbar-light .navbar-brand {
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000351}}
.navbar-light .navbar-toggler {
  background: #ffffff5c;
  border-color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000355}}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000362}}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000366}}
.logo-img {
  margin-right: 3px;
  width: 23px;
  height: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000371}}
.logo-name {
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000379}}
.btn-sign-in {
  border-radius: 7px;
  border: 0.864px solid #d66567;
  background: #bc4749;
  color: #fff;
  padding: 8px 13px;
  width: 114px;
  height: 39px;
  margin-left: 15px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\0000393}}
.btn-select:hover {
  background: #bc4749;
  color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25); }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003100}}
.bg-img-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003107}}
.bg-img-title__1,
.bg-img-title__2,
.bg-img-title__3 {
  position: absolute;
  max-width: 100%;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003114}}
.bg-img-title__1 {
  left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003118}}
.bg-img-title__2 {
  right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003122}}
.bg-img-title__3 {
  top: 41px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003126}}
h1 {
  font-size: 41.455px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003133}}
.rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003140}}
.rate-col {
  background: #6a994e;
  -webkit-box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  border-radius: 11.354px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 37px 60px;
  opacity: 0;
  -webkit-animation: ani 2.5s forwards;
          animation: ani 2.5s forwards; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003152}}
  .rate-col__price {
    font-size: 37.848px;
    font-weight: 800;
    line-height: 128.023%;
    padding: 15px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003158}}
    .rate-col__price sup {
      font-size: 11.354px;
      font-weight: 500;
      top: -25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003164}}
    .rate-col__price sub {
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003171}}
  .rate-col__desc {
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    border-top: 0.95px solid #ffffff10;
    border-bottom: 0.95px solid #ffffff10;
    padding: 15px 0 27px;
    margin: 15px 0 21px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003183}}
  .rate-col__property {
    font-size: 15.139px;
    font-weight: 600;
    line-height: 128.023%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003188}}
    .rate-col__property-name {
      font-size: 13.247px;
      font-weight: 500;
      line-height: 128.023%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003195}}
  .rate-col:nth-child(even) {
    background: #1d252b; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003198}}
    .rate-col:nth-child(even) a.btn-select {
      border: 0.864px solid #d66567;
      background: #bc4749; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003201}}
      .rate-col:nth-child(even) a.btn-select:hover {
        background: #6a994e;
        border: 0.864px solid #6a994e;
        color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003209}}
  .rate-col__name {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003216}}
  .rate-col-1, .rate-col-3 {
    position: relative;
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003221}}
  .rate-col-1 {
    left: 40px;
    margin-left: -60px;
    z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003226}}
  .rate-col-2 {
    z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003229}}
  .rate-col-3 {
    left: -40px;
    margin-right: -60px;
    z-index: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003236}}
.rate-col__price-currency,
.rate-col__price-period {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003242}}
.anim-load {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003247}}
.rate-col-1 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003253}}
.rate-col-2 {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003259}}
.rate-col-3 {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s; }

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003286}}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003291}}
.rate-col__property-elem li {
  font-size: 13px;
  line-height: 128.023%;
  text-align: left;
  list-style-image: url(../img/list-marker.svg);
  margin: 15px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003298}}
.old-elem {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003303}}
.new-elem {
  font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003307}}
.price {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003316}}
.rate-col:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); }

/* Кнопка "Заказать" */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003321}}
.btn-select {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 7px;
  border: 0.864px solid #d0d0d0;
  background: #6a994e;
  -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003339}}
.icon-radius {
  background: rgba(255, 255, 255, 0.6);
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003348}}
  .icon-radius .fa-chevron-right {
    color: #bc4749;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

@media only screen and (max-width: 988px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003359}}
  .navbar-nav {
    gap: 10px;
    padding-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003363}}
  .navbar a,
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003370}}
  .btn-sign-in {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003375}}
  .rate-col {
    margin: 20px 0;
    padding: 37px 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003379}}
  .btn-select {
    padding: 10px;
    font-size: 13px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003384}}
  .icon-radius {
    padding: 4px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003387}}
  .navbar-collapse {
    margin-top: 20px;
    background: #ffffffe3;
    padding: 20px 15px;
    border-radius: 10px;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003394}}
  .rates {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003399}}
  .rate-col-1,
  .rate-col-3 {
    left: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: none;
            transform: none; } }
@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003408}}
  .bg-img-title {
    display: none; } }
@media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/frontend\/manackii\/css\/style\.scss}line{font-family:\00003414}}
  .rate-col {
    margin: 20px 0;
    padding: 37px 30px; } }

/*# sourceMappingURL=style.css.map */