* {
  box-sizing: border-box;
}

body {
  border-radius: 12px;
  background: linear-gradient(153deg, #36603e 35.82%, #1e262c 107.75%);
  box-shadow:
    0px -9.631px 86.681px 0px rgba(0, 0, 0, 0.1),
    0px 23.115px 240.782px 0px rgba(0, 0, 0, 0.05);
  font-family: "Inter", sans-serif;
  color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1306px;
  margin: 0 auto;
  height: auto;
}

.navbar {
  padding-top: 45px;
  padding-bottom: 58px;
}
.navbar a {
  color: #fff;
}
.nav-link {
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.nav-link.active {
  font-weight: 600;
}

.navbar-nav {
  gap: 25px;
}
.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-light .navbar-toggler {
  background: #ffffff5c;
  border-color: rgba(255, 255, 255, 35%);
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
}

.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  margin-right: 3px;
  width: 23px;
  height: 15px;
}
.logo-name {
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  text-decoration: line-through;
}

.btn-sign-in {
  border-radius: 7px;
  border: 0.864px solid #d66567;
  background: #bc4749;
  color: #fff;
  padding: 8px 13px;
  width: 114px;
  height: 39px;
  margin-left: 15px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}

.btn-select:hover {
  background: #bc4749;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);
}

.bg-img-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.bg-img-title__1,
.bg-img-title__2,
.bg-img-title__3 {
  position: absolute;
  max-width: 100%;
  height: auto;
}
.bg-img-title__1 {
  left: 0;
}

.bg-img-title__2 {
  right: 0;
}

.bg-img-title__3 {
  top: 41px;
}

h1 {
  font-size: 41.455px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.rates {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.rate-col {
  background: #6a994e;
  box-shadow: 0px 3.785px 94.621px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  border-radius: 11.354px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 37px 60px;
  opacity: 0;
  animation: ani 2.5s forwards;

  &__price {
    font-size: 37.848px;
    font-weight: 800;
    line-height: 128.023%;
    padding: 15px 0 0;

    & sup {
      font-size: 11.354px;
      font-weight: 500;
      top: -25px;
    }

    & sub {
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__desc {
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    border-top: 0.95px solid #ffffff10;
    border-bottom: 0.95px solid #ffffff10;
    padding: 15px 0 27px;
    margin: 15px 0 21px;
  }

  &__property {
    font-size: 15.139px;
    font-weight: 600;
    line-height: 128.023%;

    &-name {
      font-size: 13.247px;
      font-weight: 500;
      line-height: 128.023%;
    }
  }

  &:nth-child(even) {
    background: #1d252b;

    & a.btn-select {
      border: 0.864px solid #d66567;
      background: #bc4749;
      &:hover {
        background: #6a994e;
        border: 0.864px solid #6a994e;
        color: #fff;
      }
    }
  }

  &__name {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &-1,
  &-3 {
    position: relative;
    transform: scale(0.9);
  }
  &-1 {
    left: 40px;
    margin-left: -60px;
    z-index: 0;
  }
  &-2 {
    z-index: 1;
  }
  &-3 {
    left: -40px;
    margin-right: -60px;
    z-index: 0;
  }
}

.rate-col__price-currency,
.rate-col__price-period {
  cursor: pointer;
}

.anim-load {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.rate-col-1 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.rate-col-2 {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.rate-col-3 {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.rate-col__property-elem li {
  font-size: 13px;
  line-height: 128.023%;
  text-align: left;
  list-style-image: url(img/list-marker.svg);
  margin: 15px 0;
}
.old-elem {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.new-elem {
  font-weight: 500;
}

.price {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
}

.rate-col:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

/* Кнопка "Заказать" */
.btn-select {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 7px;
  border: 0.864px solid #d0d0d0;
  background: #6a994e;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-radius {
  background: rgba(255, 255, 255, 0.6);
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  margin-left: 10px;

  & .fa-chevron-right {
    color: #bc4749;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 988px) {
  .navbar-nav {
    gap: 10px;
    padding-bottom: 20px;
  }
  .navbar a {
    color: #000;
  }
  .btn-sign-in {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .rate-col {
    margin: 20px 0;
    padding: 37px 40px;
  }
  .btn-select {
    padding: 10px;
    font-size: 13px;
  }

  .icon-radius {
    padding: 4px 10px;
  }
  .navbar-collapse {
    margin-top: 20px;
    background: #ffffffe3;
    padding: 20px 15px;
    border-radius: 10px;
    text-align: center;
  }
  .rates {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .rate-col-1,
  .rate-col-3 {
    left: auto;
    margin-left: auto;
    margin-right: auto;
    transform: none;
  }
}
@media only screen and (max-width: 768px) {
  .bg-img-title {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .rate-col {
    margin: 20px 0;
    padding: 37px 30px;
  }
}
